*{
    padding: 0;
    margin: 0;
    font-family: 'Nunito', sans-serif;
    box-sizing: border-box;
}

body{
    height: 100vh;
    margin: 0;
    padding: 0;
}
header {
    display: block;
}
header nav ul  {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color:white;
    text-align: center;
    padding: 8px;
}
header nav ul li {
    display: inline-block;
    padding:8px;
    text-align: center;
    font-weight: bold;
}
header nav ul li a {
    display: block;
    padding: 8px;
    text-decoration: none;
    color: black;
}
.hero {
    height: 80vh;
    width: 100%;
    padding-top: 10%;
    text-align: center;
    display: block;

}
.hero p {
    text-align: center;
}
.hero a img {
    border-radius: 20px;
    float:right;
    margin-right: 10%;
    width: 25%;
    margin-top: -3%;
    position: relative;
    border: 3px solid rgb(192, 190, 190);
}
.hero h1{
    font-size: 60px;
    letter-spacing: 2px;
    text-align: center;
}
.hero .icons {
    display: flex;
    justify-content: center;
    padding-top: 5%;
    padding-left: 2%;
    padding-right: 2%;
}
.hero .icons .icon img {
    width: 40px;
    height: 40px;
}
.hero .icons .icon p {
    width:94px;
    font-weight: bolder;
    text-shadow: 2px 2px #0bffff;
}

.projects {
    height: 100vh;
    width: 100%;
    background-color: #cbcdcf;
    text-align: center;
    padding-top:5%;
    padding-bottom:50%;
}
.projects .container {
    display: grid;
    grid-template-columns:50% 50%;
    justify-content: center;
    grid-gap: 10%;
    border-radius: 25px;
    margin-left: 15%;
    margin-right: 15%;
    justify-content: center;
    padding-top: 5%;
}
.projects .container .one {
    border: 1px solid black;
    padding: 8px;
    text-align: center;
    border-radius: 25px;
    background-color: rgba(240, 248, 255, 0.973);
    box-shadow: 2px 2px black;
}
.projects .container .one img {
    border-radius: 25px;
    width: 75%;
    padding: 8px;
}
.projects .container .one .btn {
    padding: 8px;
    margin-bottom:1em;
    border-radius: 25px;
    border:  2px solid white;
    box-shadow: 2px 2px black;
    cursor: pointer;
}
.projects .container .one .btn a{
    text-decoration: none;
    font-weight: bold;
    color: rgb(0, 0, 0);
    font-size: large;
}
.aboutme {
    height: 120vh;
    width: 100%;
    text-align: center;
    padding-top:3%;
    padding-left: 2%;
    padding-right:2%;
    text-align: center;
    background-color: #9a9d9e86;
    
}
.aboutme .intro .top {
    display: flex;
    justify-content: space-between;
    padding:2%;
    border-radius:25px;
    box-shadow: 2px 2px black;
    background-color: aliceblue;
}
.aboutme .intro .top a {
    text-decoration: none;
}
.aboutme .intro .middle {
    justify-content: space-between;
    font-size:24px;
    margin-top: 3%;
    text-align: left;
    padding:5%;
    border-radius:25px;
    box-shadow: 2px 2px black;
    background-color: aliceblue;
}
.aboutme .intro .middle .city {
    display: flex;
    padding: 8px;
    font-size: 20px;
    justify-content: space-between;
}
.aboutme .intro .tech {
    display: flex;
    padding:5%;
    justify-content: space-between;
    margin-top:2%;
    padding:2%;
    font-size: 22px;
    border-radius:25px;
    box-shadow: 2px 2px black;
    background-color: aliceblue;
}
.aboutme .intro .tech h2{
    padding-top: 2%;;
}
.aboutme .intro .tech img{
    width: 50px;
    height: 50px;
}
.aboutme .certs {
    text-transform: uppercase;
    font-weight: bold;
    margin-top:2%;
    border-radius:25px;
    box-shadow: 2px 2px black;
    background-color: aliceblue;
}
.aboutme .certs .list{
    display: flex;
}
.aboutme .certs h2{
    font-size:29px;
    font-weight: bolder;
    text-align: center;
}
.aboutme .certs a {
    letter-spacing: 2px;
    padding:2%;
    text-decoration: none;
    color:black;
}
.email {
    height: 100vh;
    width: 100%;
    background-color: #cbcdcf;
    text-align: center;
    
}
form{
    margin: 35px;
    display: grid;
    grid-template-columns: 95%;
    padding:8%;
    border-radius: 25px;
    box-shadow: 2px 2px black;
    background-color: aliceblue;
}
form #email {
    height: 50px;
}
form #name {
    height: 50px;
}





@media screen and (max-width:600px) {
    body{
        max-width: 600px!important;
        width: 600px!important;
    } 
    .hero .icons .icon img {
        width: 40px!important;
        height: 40px!important;
    }
    .hero img {
        width: 150px!important;
        justify-content:center!important;
    }
}
@media screen and (max-width:500px) {
    
    .projects .container {
        display: grid!important;
        grid-template-columns: 50% 50%!important;
}
    .projects .container a img {
        width: 150px;
    }
    .projects .container {
        padding-bottom:80%!important;
    }
}